@import url("http://weloveiconfonts.com/api/?family=maki");

body {
	color: #747704;
	font: 14px "Raleway", sans-serif;
}

@media screen and (max-width: 330px) {
	h2 {
		font-size: 16px;
	}

	h3 {
		font-size: 14px;
	}

	.header-txt {
		font-size: 12px;
	}

	figcaption {
		font: 14px/0.75em "Raleway", sans-serif;
		text-align: center;
	}
}

@media screen and (min-width: 330px) {
	h2 {
		font-size: 16px;
	}

	h3 {
		font-size: 14px;
	}

	.header-txt {
		font-size: 12px;
	}

	figcaption {
		font: 14px/0.75em "Raleway", sans-serif;
		text-align: center;
	}
}

@media screen and (min-width: 565px) {
	h2 {
		font-size: 18px;
	}
		
	h3 {
		font-size: 16px;
	}

	.header-txt {
		font-size: 12px;
	}

	figcaption {
		font: 16px/0.75em "Raleway", sans-serif;
		text-align: center;
	}
}


/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 18px;
	}

	.header-txt {
		font-size: 12px;
	}

	figcaption {
		font: 18px/1em "Raleway", sans-serif;
		text-align: center;
	}
}

/* Header */
header {
	margin: 0 auto 16px 0;
	font-family: "Raleway", sans-serif;
	color: #747704;
	border-bottom: 3px solid #bcbbbb;
}

	/* maki */
[class*="maki-"]:before {
	font-family: "maki", sans-serif;
	font-size: 5em;
	color: #f8981c;
}

/* Main Content */
img {
		max-width: 100%;
	}

.link-project {
	color: #747704;
	text-align: center;
	font-size: 0.75em;
	margin-top: -10px;
}

.thumb {
	margin-bottom: 30px;
}

.thumbnail-border {
	border-style: hidden;
}

.txt-right {
	text-align: right;
}

